[package]
name = "rust-genai-macros"
version = "0.3.0"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
syn = { workspace = true }
quote = { workspace = true }
proc-macro2 = { workspace = true }
utoipa = { workspace = true }
serde_json = { workspace = true }
serde = { workspace = true }